<footer class="footer-hh py-4 mt-5">
    <div class="container text-center">
        <img src="../assets/imagenes/logoHuerto.jpeg" alt="Logo HuertoHogar" style="height: 50px; border-radius: 8px; margin-bottom: 10px; object-fit: cover;">
        <p class="mb-1 fw-bold text-dark">HuertoHogar Chile</p>
        <p class="small mb-1 fst-italic">Conéctate con la naturaleza y lleva lo mejor del campo a tu mesa.</p>
        <p class="small mb-3 fw-bold text-dark">¡Únete a nosotros y disfruta de productos frescos y saludables, directo a tu hogar!</p>
        <div class="d-flex justify-content-center gap-3 mb-3 fs-5">
            <a href="#" class="text-success"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" class="text-success"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" class="text-success"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
        <p class="small text-muted mb-0">derechos reservados © 2026 HuertoHogar</p>
    </div>
</footer>
